*, ::after, ::before {
    box-sizing: border-box;
}
.loader {
    border: 15px solid #f0f0f0;
    border-radius: 100%;
    border-top: 15px solid #17a2b8;
    border-bottom: 15px solid #17a2b8;
    width: 100px;
    height: 100px;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

/**************Game Board Style*****************/
.game_board {
    width: 100vw;
    min-width: 800px;
    height: 100vw;
    min-height: 600px;
    background-color: #506c8b;
}
#game {
    min-width: 1100px;
}
#game .user img {
    width: 100px;
    height: 105px;
    border: 5px solid black;
    border-radius: 15px;
}
#game .score-panel {
    background-color: #626060;
    border-radius: 9999px;
    border: 5px solid black;
}
#game .score-panel img, #game .score-panel .bin-ball {
    margin: 0 3px;
    width: 30px;
    height: 30px;
}
#game .score-panel .bin-ball {
    background-color: rgb(24, 24, 24);
    border-radius: 50%;
}
#game #playerStict img, #game #opponentStict img {
    width: 250px;
}

#game #canvas {
    border-radius: 30px;
}

#game #roomInfo {
    background-color: #626060;
    border-radius: 20px;
    border: 5px solid black;
    width: 15%;
    height: 115px;
}

#game .userInfo {
    width: 42.5%;
}

#game .crypto-logo img{
    width: 30px;
    height: 30px;
}

/**************End Game Board Style*****************/